<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDiabloMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles-nav.css">
</head>
<body>
    <header>
        <div class="nav-barra">
        <div class="nav-container">
            <div class="nav-header">
                <a href="/">
                    <img class="diablo-logo" alt="Logotipo de diablo" src="C:\Users\Dmasi\Source\Repos\WebDiablo\WebDiabloMvc\wwwroot\img\diablo-logo2.png">
                </a>
                <div class="nav-left-barra"></div>
                <div class="nav-links">
                    <a href="#">Inicio</a>
                    <a href="#">PersonajesBD</a>
                    <a href="#">APIs</a>
                </div>
            </div>
        </div>
    </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br><br>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebDiabloMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
