body {
    height: 100vh;
    background-color:rgba(53, 26, 61, 0.794)
}

.nav__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-list__item{
    float: left;
    padding-right: 1em;
}
.nav-container{
    position: relative;
    padding: 20px;
    background-image: radial-gradient(circle, #9b9b9b, #69387081);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
}

.formP{
    border: solid black 2px;
    padding: 4px;
    text-align: center;
    margin: 1em;
}
.formP__label{
    padding-left: 0.5em;
}


.tableP-container{
    text-align: center;
    border: solid black 1px;
    margin: 1em;
} 