body {
    background-color: rgb(223, 138, 138);
    background-image: url('assets/diablo-p.jpg');
    background-position: center center;
    background-repeat:repeat-y;
}

[class^="nav"]{
    box-sizing: border-box;
    font-weight: 400;
}
.nav-barra{
    background-color: #be675baf;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 55px;
}
.nav-container{
    width: 100%;
    padding: 0 16px;
    display: block;
    border-bottom: solid #cfa65d 1px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}
[class^="nav"] + a{    
    background-color: transparent;
    text-decoration: none;
    align-self: center;
    margin: 0 24px 0 0;
    display:inline-block;
}
.nav-left-barra{
    color: #fff;
    background-color: rgb(204, 190, 63);
    align-self: center;
    margin: 0;
    margin-left: 8.8em;
    position: absolute;
    height: 40px;
    border-left: 1px solid #686f7a;
}
.nav-links{
    flex: 1 1 auto;
    align-self: center;
    display: block;
    margin: 0;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}
.nav-links a{
    text-decoration: none;
    font-family:'Noto Serif', serif;
    font-size: 1.2em;
    color: #cfa65d;
    border: solid #cfa65d 1.5px;
    padding: 0.5em 0.5em 0.5em;
}

.nav-links a:hover{
    color: #be675baf;
    background-color:#cfa65d;
}
/* .nav__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-list__item{
    float: left;
    padding-right: 1em;
}
.nav-container{
    position: relative;
    padding: 20px;
    background-color: rgb(141, 9, 9);
} */

.title{
    text-align: center;
    font-size: 3.5em;
    font-family: 'diablo-Font', cursive;
    color: rgba(0, 0, 0, 0.685);
}

.formP{
    padding: 1em;
    text-align: center;
    margin: 1em;
}
.formP__label{
    padding-left: 0.5em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.685);
}

.formP__input:focus{
    background-color: rgba(90, 23, 23, 0.575);
    color: white;
}

@font-face{
    src: url('assets/diablo_h.ttf');
    font-family: 'diablo-Font';
}

.diablo-logo{
    padding-top: 1em;
}

table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: #ceb385;
    border-radius: 2px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: rgba(0, 0, 0, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #cfa65d;
    font-size: 16px;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}

.button{
  display: inline-block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  line-height: 38px;
  overflow: hidden;
  background: #ceb385;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  margin: 1em;
}
.button:active{
    transform: scale(0.9);
}
