body{
  background-color: rgb(144, 112, 112);
}

.menu__contain{
  background:rgb(117, 36, 36);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__link{
    text-decoration:none;
    color:inherit;
    font-size:14px;
}

.nav__item{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

.nav__item:hover{
    background-color:#fff;
    color:#000;
}

.filtroP-container{
  position: relative;
  margin: 2em;
  text-align: center;
}

